header {
    height: 100px;
    background-color: rgb(245, 245, 245);
    padding: 0 100px 0 100px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#logoArea {
    color: black;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

.mainArea {
    padding-top: 50px;
}

.mainAreaTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

#linkOne a, #linkTwo a, #linkThree a, #linkFour a {
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.titles {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
}

.topHeader {
    position: sticky;
    top: 0px;
}

.nav {
    padding-top: 25px;
}

.mySkills {
    margin-top: 100px;
}

.roller {
    justify-content: center;
    margin-top: 20px;
}

.info {
    min-height: 300px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
}

.bullets {
    margin-top: 15px;
}

.skills .portfolioImg {
    float: left;
    margin-top: 5px;
}

.skillTitle {
    margin-left: 60px;
}

.skillLogos {
    height: 80px;
    object-fit: contain;
}

.details {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-indent: 20px;
}

.areas {
    height: 800px;
}

.moreAreas {
    padding-top: 110px;
    min-height: 800px;
    clear: both;
}

.aboutSection {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.aboutImgSection {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
}

.myPic {
    padding-right: 20px;
}

.pictures {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.past {
    padding-right: 50px;
    background-color: white;
    margin-right: 10px;
}

.future {
    min-width: 300px;
    background-color: white;
    padding-left: 10px;
}

.sliderSection {
    margin-top: 20px;
    margin-left: 18%;
    width: 70%;
    display: flex;
}

.subImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.portfolioImg {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-fit: contain;
}

.techUsed {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.projects {
    margin-bottom: 10px;
}

.deployedLink {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gitHubLink {
    padding-bottom: 10px;
}

.singlePic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: auto;
}

.slick-arrow::before {
    color: black
}

.slick-slide {
    transform: scale(.5);
    transition: transform .5s;
}

.slick-center {
    transform: scale(1);
}

div.polaroid {
    /*width: 80%;*/
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.description {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
}

.myPictures {
    margin-top: 50px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
